<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	<title>Contraseña Olvidada</title>
</head>

<body>
	<div class="container">
		<div class="row" th:if="${errores != null}" style="margin-top: 30px;">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<ul class="list-group">
					<li class="list-group-item list-group-item-danger" th:each="err : ${errores}" th:utext="${err}"></li>
				</ul>
			</div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<form class="form-signin" th:action="@{/resetPassword}" method='POST'>
				<h2 class="form-signin-heading">Introduce tu DNI</h2>
				<label for="dni" class="sr-only">DNI</label>
				<input type="text" name="dni" id="dni" class="form-control" placeholder="Dni" required="" autofocus=""/>
				<input class="btn btn-lg btn-primary" type="submit" name="Submit" value="Submit"/>
			</form>
		</div>
		<div class="col-xs-4"></div>
		</div>
	</div>
</body>

</html>